<h3>Česta pitanja</h3>
<b>Kako postaviti oglas za posao?</b>
<p>
  Klikom na gumb "Nađi studente" koji se inače nalazi u gornjem desnom kutu ekrana (desna strana izbornika).
</p>
<b>Što je sve bitno navesti u oglasu?</b>
<p>
  Naziv i opis posla, satnicu, lokaciju, broj sati rada tjedno koji se zahtijeva od studenta, naziv i kontakt poslodavca.
</p>
<b>Objavio sam oglas ali ga ne vidim na početnoj stranici. Što se dogodilo?</b>
<p>
  Svaki oglas se provjerava od strane zaposli-se.com administratora. Kad oglas bude odobren, bit će 
  vidljiv s ostalim oglasima na početnoj stranici. Administratori pregledavaju oglase na dnevnoj bazi 
  osim u iznimnim slučajevima.
</p>
<b>Pogriješio sam pri objavljivanju oglasa i trebam ispraviti određene informacije. Što da napravim?</b>
<p>
  Ukoliko ste kao kontakt za oglas naveli Vaš mail, na isti će vam doći podaci i upute za izmjenu oglasa. 
  Ukoliko ste kao kontakt naveli telefonski broj, molimo da nam se javite na mail <a href="mailto:info@usgz.hr">info@usgz.hr</a>.
</p>
<br>
<p>
  Za sva ostala pitanja obratite nam se na mail <a href="mailto:info@usgz.hr">info@usgz.hr</a>.
</p>
