<div class="idea">
  <div class="text-center">
    <p>Mogu li naći posao u Zaprešiću od doma?</p>
  </div>
</div>
<div class="explanation">
  <h3>Možeš.</h3>
  <p>
    Znamo kako je obilaziti razne manje i veće trgovine, tvrtke i pogone 
    u Zaprešiću i okolici u potrazi za studentskim poslom. Znamo i kako je bitno 
    vrijeme u složenom studentskom rasporedu i kako sat-dva vremena ušteđenog na prijevozu 
    može značiti puno.
    <br><br>
    Pred studenticama i studentima željnim rada u 
    Zaprešiću dosad je stajala prepreka teškog pronalaska posla u blizini. 
    Projekt "Zaposli se!" potiče poslodavce i studente na veću međusobnu 
    interakciju i pruža im prostor gdje se mogu povezati i ostvariti radni odnos 
    na obostrano zadovoljstvo.
  </p>
</div>
