a {
    font-weight: 700;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.first-row {
    position: sticky;
    top: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: var(--nav-text-color);
    z-index: 3;
    border-bottom: 1px solid var(--nav-text-color);
}

.add-nav-border {
    border-bottom: 1px solid var(--neutral-color);
    transition: border 0.2s ease-in;
    z-index: 3;
}

header {
    position: sticky;
    top: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 4;
}

nav {
    text-align: center;
    padding: 5px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
}

.header-logo {
    align-self: center;
}

.header-logo a {
    color: var(--primary-color);
    font-weight: 700;
}

.header-logo a:hover {
    color: var(--secondary-color);
}

.header-ctas {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.header-cta {
    display: inline-block;
    padding: 5px 10px;
}

main {
    grid-column: 1 / 2;
    margin: var(--main-gutter);
}

.last-row {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: var(--neutral-color);
    opacity: 1;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: grid;
    padding: var(--main-gutter);
    z-index: 2;
    color: var(--text-color);
}

footer > a {
    margin: var(--main-gutter) 0;
}

.footer-logo {
    justify-self: center;
    align-self: center;
    font-size: 24px;
    color: var(--text-color);
}

.footer-logo:hover {
    color: var(--primary-color);
}

.footer-logo:hover img {
    filter: grayscale(0%);
}

.footer-logo img {
    width: auto;
    object-fit: contain;
    max-height: 120px;
    filter: grayscale(100%);
    transition: filter .2s ease-in;
}

.remaining-links {
    grid-column: 1 / 2;
}

.remaining-links > * {
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 960px 1fr;
    }

    .first-row {
        grid-column: 1 / 4;
    }

    header {
        grid-column: 2 / 3;
        padding: var(--main-gutter);
    }
    
    nav {
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
    }
    
    .header-logo {
        justify-self: start;
        align-self: center;
        font-size: 16px;
    }
    
    .header-ctas {
        justify-self: end;
        grid-template-columns: auto auto;
        grid-column-gap: var(--main-gutter);
    }

    .header-cta {
        padding: 10px 15px;
    }

    main {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .last-row {
        grid-column: 1 / 4;
    }

    footer {
        grid-column: 2 / 3;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px auto;
    }

    footer > a {
        margin: 0;
    }

    .remaining-links {
        grid-column: 1 / 4;
        color: var(--text-light);
    }

    .remaining-links > * {
        display: initial;
        text-align: initial;
    }

    .remaining-links > a:first-of-type {
        padding-left: 0;
    }

    .remaining-links > a {
        padding: 0 var(--main-gutter);
        border-right: 1px solid var(--text-light);
    }

    .remaining-links > span {
        padding-left: var(--main-gutter);
    }
}

@media screen and (min-width: 1440px) {
    .container {
        grid-template-columns: 1fr 1190px 1fr;
    }
}