<div class="container">
  <div id="first-row" class="first-row" [ngClass]="classes"></div>
  <header (window:scroll)="navScrollHandler($event)">
    <nav>
      <div class="header-logo"><a routerLink="/home">zaposli-se.com</a></div>
      <div class="header-ctas">
        <a *ngIf="!auth.isLoggedIn()" routerLink="/objavi" class="cta header-cta">Nađi studente</a>
        <a *ngIf="!auth.isLoggedIn()" routerLink="/unos" class="cta header-cta">Izmijeni oglas</a>
      </div>
    </nav>
  </header>
  <main id="main">
    <router-outlet></router-outlet>
  </main>
  <div class="last-row"></div>
  <footer>
    <a href="#" class="footer-logo">zaposli-se.com</a>
    <a href="http://usgz.hr" class="footer-logo">
      <img src="../assets/usgz.png">
    </a>
    <a href="http://www.zapresic.hr" class="footer-logo">
      <img src="../assets/grad_zapresic.png">
    </a>
    <section class="remaining-links">
      <a routerLink="/about">O projektu</a>
      <a routerLink="/uvjeti">Uvjeti korištenja</a>
      <a routerLink="/faq">Česta pitanja</a>
      <span>Ovaj projekt financiran je sredstvima Grada Zaprešića</span>
    </section>
  </footer>
</div>