<div class="container">
  <div id="first-row" class="first-row" [ngClass]="classes"></div>
  <header (window:scroll)="navScrollHandler($event)">
    <nav>
      <ul>
        <div class="header-logo"><li><a routerLink="/home">zaposli-se.com</a></li></div>
        <div class="header-search"><li><input type="text" name="search" placeholder=" &#xF002; Pretraži oglase po nazivu posla, poslodavcu, lokaciji" aria-label="Pretraži oglase po nazivu posla, poslodavcu, lokaciji"></li></div>
        <div class="header-ctas">
          <li><a routerLink="/objavi" class="header-cta">Objavi oglas</a></li>
          <li><a href="#" class="header-cta">Izmijeni oglas</a></li>
        </div>
      </ul>
    </nav>
  </header>
  <main id="main">
    <router-outlet></router-outlet>
  </main>
  <div class="last-row"></div>
  <footer>
    <a href="#" class="footer-logo">zaposli-se.com</a>
    <a href="http://usgz.hr" class="footer-logo">
      <img src="../assets/usgz.png">
    </a>
    <a href="http://www.zapresic.hr" class="footer-logo">
      <img src="../assets/grad_zapresic.png">
    </a>
  </footer>
</div>