<h3>Uvjeti korištenja</h3>
<b>Članak 1.</b>
<p>Ovim Uvjetima regulira se korištenje internetskog portala Zaposli se!</p>
<b>Članak 2.</b>
<p>Portal Zaposli se! (u daljnjem tekstu: portal) na domeni zaposli-se.com u vlasništvu je Udruge studenata grada Zaprešića (u daljnjem tekstu: Udruga).</p>
<b>Članak 3.</b>
<p>Portal je izrađen u okviru projekta Zaposli se! i njegova je svrha povezivanje poslodavaca sa zainteresiranim studentima posloprimcima, čime Udruga ostvaruje sljedeće djelatnosti iz čl. 12. svojeg Statuta:</p>
<ul>
  <li>pomoć i podrška studentima u studiju i zapošljavanju;</li>
  <li>pomaganje, savjetovanje i informiranje studenata o mogućnostima koje se za njih nude u lokalnoj zajednici i na učilištima te o aktualnim studentskim temama.</li>
</ul>
<b>Članak 4.</b>
<p>
  <span>(1) Udruga na portalu ne ostvaruje djelatnosti oglašavanja. Djelatnosti oglašavanja ostvaruje osoba, pravna ili fizička, koja na portalu objavljuje oglas za posao.</span>
  <br>
  <span>(2) Osoba, pravna ili fizička, koja zatraži ili koristi pomoć od Udruge pri objavi oglasa te potom takav oglas bude objavljen, time također ostvaruje djelatnosti oglašavanja, pri čemu Udruga ne ostvaruje takve djelatnosti.</span>
</p>
<b>Članak 5.</b>
<p>Objavljivanje oglasa na portalu besplatno je te Udruga na temelju portala ne stječe nikakvu dobit.</p>
<b>Članak 6.</b>
<p>Unošenjem osobnih podataka u obrasce na portalu osoba pristaje na pohranu, obradu i korištenje tih podataka, pri čemu je Udruga dužna jasno istaknuti spomenuto načelo na obrascu.</p>
<b>Članak 7.</b>
<p>Student posloprimac upoznat je da, osim podataka koje zahtjeva portal, za realizaciju zapošljavanja može biti upitan i da dostavi dodatne podatke koje zahtjeva poslodavac.</p>
<b>Članak 8.</b>
<p>Poslodavac se obvezuje prilikom objave oglasa objaviti podatke o cijeni rada te trajanju i opsegu rada.</p>
<b>Članak 9.</b>
<p>
  <span>(1) Poslodavci i posloprimci obvezuju se unositi točne i ažurne podatke u sve obrasce na portalu.</span>
  <br>
  <span>(2) Udruga se odriče odgovornosti od bilo kakve štete koja korisnicima nastane uslijed netočnih podataka unesenih od strane drugih korisnika.</span>
</p>
<b>Članak 10.</b>
<p>
  <span>
      (1) Poslodavac se obvezuje da će poštovati odredbe Zakona o zabrani i sprječavanju obavljanja neregistrirane djelatnosti te da neće na portalu objavljivati oglase za zapošljavanje u djelatnostima za koje nije registriran.
  </span>
  <br>
  <span>
    (2) Ukoliko poslodavac prekrši odredbe iz stavka 1. ovog članka, pa time Udruzi nastane šteta prema članku 7. Zakona o zabrani i sprječavanju obavljanja neregistrirane djelatnosti, poslodavac je dužan Udruzi bez odgode nadoknaditi svu nastalu štetu, koja uključuje novčane kazne kao prekršajnopravne sankcije, sudske troškove te ostale vidove štete koji nastanu uslijed kršenja odredbi iz stavka 1. ovog članka.
  </span>
</p>
<b>Članak 11.</b>
<p>
  <span>
    (1) Poslodavac se obvezuje da će prilikom objave oglasa poštovati sve odredbe Zakona o suzbijanju diskriminacije, Zakona o ravnopravnosti spolova, odredbi ustava Republike Hrvatske koje se tiču diskriminacije te svih ostalih pozitivnih propisa koji u Republici Hrvatskoj uređuju pitanje diskriminacije.
  </span>
  <br>
  <span>
    (2) Ukoliko poslodavac prekrši odredbe iz stavka 1. ovog članka, pa time Udruzi nastane šteta, poslodavac je dužan Udruzi bez odgode nadoknaditi svu nastalu štetu, koja uključuje novčane kazne kao prekršajnopravne sankcije, sudske troškove te ostale vidove štete koji nastanu uslijed kršenja odredbi iz stavka 1. ovog članka."
  </span>
</p>
<b>Članak 12.</b>
<p>Udruga se odriče odgovornosti od bilo kakve štete koja korisnicima nastane uslijed nedostupnosti poslužitelja ili drugih vrsta tehničkih poteškoća na mrežnoj infrastrukturi.</p>
<b>Članak 13.</b>
<p>Korištenjem portala korisnici pristaju na ove Uvjete korištenja.</p>
<b>Članak 14.</b>
<p>
  <span>(1) Udruga zadržava pravo u bilo kojem trenutku izmijeniti ove Uvjete korištenja bez prethodne obavijesti.</span>
  <br>
  <span>(2) Izmjene i dopune ovih Uvjeta korištenja donosi Upravni odbor Udruge.</span>
</p>
<b>Članak 15.</b>
<p>Ovi Uvjeti korištenja stupaju na snagu datumom donošenja.</p>