/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&subset=latin-ext');

:root {
    --main-gutter: 20px;
    --primary-color: #1656A3;
    --secondary-color: #217CED;
    --neutral-color: #C4CAC7;
    --text-color: #2A2B2A;
    --nav-text-color: #FFF;
    --btn-padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    line-height: 1.4;
}

a, input {
    transition: 0.2s ease-in;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--neutral-color);
    transition: 0.2s ease-in;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}