<div class="header-search"><input type="text" name="search" placeholder=" &#xF002; Pretraži oglase po nazivu posla, poslodavcu, lokaciji" aria-label="Pretraži oglase po nazivu posla, poslodavcu, lokaciji"></div>
<div class="oglas">
  <b class="oglas-naslov">Kupovina namirnica</b>
  <hr>
  <div class="oglas-info">
    <ul>
      <li>Oglašivač: Ivek</li>
      <li>Opis posla: Trebam nekog da mi ode kupiti namirnice. Plaćam 100kn tjedno za tri odlaska u trgovinu.</li>
      <li>Lokacija: Zaprešić</li>
      <li>Mail: info@usgz.hr</li>
      <li>Kontakt broj: 099000123</li>
    </ul>
  </div>
</div>
<div class="oglas">
  <b class="oglas-naslov">Tisak i uvez</b>
  <hr>
  <div class="oglas-info">
    <ul>
      <li>Oglašivač: Uvez Zaprešić</li>
      <li>Opis posla: Uvez, kopiranje, skeniranje, ispis, zaprimanje narudžbi. 20kn/sat</li>
      <li>Lokacija: Zaprešić</li>
      <li>Mail: info@usgz.hr</li>
      <li>Kontakt broj: 099000123</li>
    </ul>
  </div>
</div>
<div class="oglas">
  <b class="oglas-naslov">Djelatnik/ca u dućanu</b>
  <hr>
  <div class="oglas-info">
    <ul>
      <li>Oglašivač: Hervis</li>
      <li>Opis posla: Prodaja, davanje informacija kupcima, sortiranje proizvoda. 23kn/sat.</li>
      <li>Lokacija: Zaprešić</li>
      <li>Mail: info@usgz.hr</li>
      <li>Kontakt broj: 099000123</li>
    </ul>
  </div>
</div>
<div class="oglas">
  <b class="oglas-naslov">Prodavačica u New Yorker-u</b>
  <hr>
  <div class="oglas-info">
    <ul>
      <li>Oglašivač: New Yorker</li>
      <li>Opis posla: Prodaja, davanje informacija kupcima, sortiranje proizvoda. 21kn/sat.</li>
      <li>Lokacija: Zaprešić</li>
      <li>Mail: info@usgz.hr</li>
      <li>Kontakt broj: 099000123</li>
    </ul>
  </div>
</div>
<div class="oglas">
  <b class="oglas-naslov">Samo test</b>
  <hr>
  <div class="oglas-info">
    <div class="oglas-info">
      <ul>
        <li>Oglašivač: Tester</li>
        <li>Opis posla: Isključivo test. 0kn/sat.</li>
        <li>Lokacija: Zaprešić</li>
        <li>Mail: info@usgz.hr</li>
        <li>Kontakt broj: 099000123</li>
      </ul>
    </div>
  </div>
</div>
<div class="oglas">
  <b class="oglas-naslov"></b>
  <div class="oglas-info"></div>
</div>
<div class="oglas">
  <b class="oglas-naslov"></b>
  <div class="oglas-info"></div>
</div>